:root{
    --color-bg: #101419;
    --color-bg-secondary: #405064;
    --color-body-text: #e6e6e6;
    --color-header-text: #f7f4f3;
    --color-primary: #1C8EB0;
    --color-secondary: #16718D;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: var(--color-header-text);
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 64px;
}

footer{
    margin-top: 32px;
}

footer p {
    color: var(--color-body-text);
    text-align: center;
}

body{
    background-color: var(--color-bg);
}

main{
    box-sizing: content-box;
    width: 560px;
    margin: auto;
    background-color: #151b22;
    border: 1px solid #e6e6e6;
    padding: 16px;
    border-radius: 16px;
}

.screen{
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 16px;
}

.screen p{
    text-align: right;
}

#expression, #display{
    height: 32px;
}

#expression{
    font-size: 16px;
    color: #405064;
}

#display{
    font-size: 32px;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.btn{
    color: var(--color-body-text);
    width: 128px;
    height: 64px;
    border-radius: 8px;
    border-width: 1px;
    font-size: 16px;
}

.number{
    background-color: #18596d;
}

.function{
    background-color: #013d50;
    
}

#equals{
    background-color: var(--color-primary);
}

.btn:hover{
    border: 1px solid var(--color-body-text);
}

.btn:active{
    opacity: 0.5;
}